.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar-header > a:hover{
  background-color: rgb(236, 72, 8);
  border-radius: 19px;
}

.navbar-header > a:active{
  background-color: orangered;
  border-radius: 20px;
}

.tourcontainer{
  background-color: gray;
  margin : 20;
  margin-top: 40px;
  height: 250px;
}

#tourimage{
  float: left;
  background-color: violet;
  height: 250px;
  width: 35%;
}

#tourdesc{
  float: right;
  background-color: lavender;
  height: 250px;
  width: 65%;
}